<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-5 pt-lg-1 order-2 order-lg-1" >
          <h1>Domitransp SAS</h1>
          <h2>Servicio seguro y confiable </h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Reserva ya</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <%= image_tag("Logo-1.png", widht: '100%', height: '800px') %>
        </div>
      </div>
    </div>

</section>