<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
            <div class="col-lg-5">
                <div class="ibox ">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <span class="label label-success float-right">Monthly</span>
                        </div>
                        <h5>Income</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">40 886,200</h1>
                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                            <small>Total income</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="ibox ">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <span class="label label-info float-right"> Hoy </span>
                        </div>
                        <h5>Envios </h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"> <%= @orders.id %> </h1>
                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                        <small> <%= link_to "Programar envio", new_order_path %> </small>
                    </div>
                </div>
            </div>
    </div>
</div>