<div class="wrapper wrapper-content animated fadeInRight blog">
<div class="row">
  <div class="col-lg-6">
    <div class="ibox">
      <div class="ibox-content">
        <embed src="/Portafolio.pdf" type="application/pdf" width="100%" height="100%" />
        <a href="/pdf/Portafolio.pdf" class="btn-link">
          <h2>Título del PDF</h2>
        </a>
        <div class="small m-b-xs">
          <p>Descripción del PDF o cualquier otro contenido que desees agregar.</p>
          <div class="row">
            <div class="col-md-6">
              <div class="small text-right">
                <h5>Stats:</h5>
                <div><i class="fa fa-comments-o"></i> 56 comentarios</div>
                <i class="fa fa-eye"></i> 144 vistas
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight blog">
<div class="row">
  <div class="col-lg-6">
    <div class="ibox">
      <div class="ibox-content">
        <embed src="/Portafolio.pdf" type="application/pdf" width="100%" height="100%" />
        <a href="/pdf/Portafolio.pdf" class="btn-link">
          <h2>Título del PDF</h2>
        </a>
        <div class="small m-b-xs">
          <p>Descripción del PDF o cualquier otro contenido que desees agregar.</p>
          <div class="row">
            <div class="col-md-6">
              <div class="small text-right">
                <h5>Stats:</h5>
                <div><i class="fa fa-comments-o"></i> 56 comentarios</div>
                <i class="fa fa-eye"></i> 144 vistas
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
