
<h1>DOCUMENTOS DOMITRANSP</h1>
<div class="wrapper wrapper-content animated fadeInRight blog">
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-content">
          <embed style="height:215px" src="/Portafolio.pdf" type="application/pdf" width="100%" height="100%" />
          <a href="/Portafolio.pdf" class="btn-link">
          <h2>PORTAFOLIO</h2>
          </a>
          <div class="small m-b-xs">
            
            
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-content">
          <embed style="height:215px"  src="/Referenciabancariadomitransp.pdf" type="application/pdf" width="100%" height="100%" />
          <a href="/Referenciabancariadomitransp.pdf" class="btn-link">
            <h2>REFERENCIA BANCARIA</h2>
          </a>
          <div class="small m-b-xs">
        
            <div class="row">
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-content">
          <embed style="height:215px"  src="/rut.pdf" type="application/pdf" width="100%" height="100%" />
          <a href="/rut.pdf" class="btn-link">
            <h2>RUT</h2>
          </a>
         
        </div>
      </div>
    </div>
    <div class="col-lg-6">
    <div class="ibox">
      <div class="ibox-content">
        <embed style="height:215px"  src="/certificado.pdf" type="application/pdf" width="100%" height="100%" />
        <a href="/certificado.pdf" class="btn-link">
          <h2>CERTIFCADO</h2>
        </a>
        <div class="small m-b-xs">
          
         
        </div>
      </div>
    </div>
  </div>
