<h1>Listado de Usuarios</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Nombre</th>
            <!-- Agrega más columnas según los atributos de tu modelo User -->
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.nombre %></td>
            <!-- Agrega más celdas según los atributos de tu modelo User -->
                <td>
                <%= link_to "Mostrar", user %>
                <%= link_to "Editar", edit_user_path(user) %>
                <%= link_to "Eliminar", user, method: :delete, data: { confirm: '¿Estás seguro?' } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to "Nuevo Usuario", new_user_path %>