<div class="col-lg-8">
    <%= form_tag(companies_path, method: "get") do %>
        <%= label_tag(:q, "Buscar empresa:") %>
        <%= text_field_tag(:q, params[:q]) %>
        <%= submit_tag("Filtrar", class: 'btn-primary btn-sm') %>
    <% end %>
</div>