
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2> Empresas </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"> Inicio </a>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Empresas', companies_path %>
            </li>
            <li class="breadcrumb-item">
                <a href="#"><strong> Crear empresa </strong></a>
            </li>
        </ol>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5> Crea una empresa </h5>
            </div>
        <div class="ibox-content">
            <%= render 'form', company: @company %>
        </div>
    </div>
</div>