<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Borrar', '#', class: 'remove_record'%>
  </td>
  <td><%= f.input :tipo, label: false%></td>
  <td><%= f.input :cantidad, label: false%></td>
</tr>
