<div class="nested-fields">
  <div class="contenedor-paquete"> 
    <div class="contenedor-input-anidado">
      <label class="label-anidado">Tipo: </label>
      <%= f.input :tipo, as: :select, collection: ['Sobre', 'Paquete', 'Cava', 'Caja', 'Maleta', 'Contenedor'], prompt: '¿Qué vas a enviar?', input_html: { class: 'form-control select-tamaño', id: 'my-select' }, label: false, wrapper: false %>
    </div>
    <div class="contenedor-input-anidado">
      <label class="label-anidado label-cantidad col-lg-5">Cantidad: </label>
      <%= f.input :cantidad, label: false, input_html: { id: 'input-anidado-cantidad', type: 'number', style: 'width: 110px;' }, wrapper: false %>
    </div>
    <div class="contenedor-boton-borrar">
      <div class="div-boton-borrar">
        <%= f.input_field :_destroy, as: :hidden %>
        <%= link_to 'Borrar', '#', class: 'remove_record', id: 'boton-borrar' %>
      </div>
    </div>
  </div>
</div>
