<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2> Ordenes </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"> Inicio </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#"> <strong> Crear ordenes </strong> </a>
            </li>
            
        </ol>
    </div>
</div>
<br>
<%= render 'form', order: @order %>