// Place all the styles related to the Companies::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.create-user-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
  }
  