<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2> Cargar factura </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"> Inicio </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">
                    <strong> Cargar facturas </strong>
                </a>
            </li>
        </ol>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5> Ingresa factura <small> Añade una nueva factura para tu cliente </small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>